[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aniso8601 = "*"
attrs = "*"
awsebcli = "*"
bcrypt = "*"
blessed = "*"
botocore = "*"
cached-property = "*"
cement = "*"
certifi = "*"
cffi = "*"
chardet = "*"
click = "*"
colorama = "*"
cryptography = "*"
docker-compose = "*"
docker = {extras = ["ssh"], version = "*"}
dockerpty = "*"
docopt = "*"
future = "*"
idna = "*"
importlib-metadata = "*"
itsdangerous = "*"
jmespath = "*"
joblib = "*"
jsonschema = "*"
kiwisolver = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
paramiko = "*"
pathspec = "*"
pickle-mixin = "*"
psycopg2-binary = "*"
pycparser = "*"
pyparsing = "*"
pyrsistent = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
scikit-learn = "*"
scipy = "*"
semantic-version = "*"
six = "*"
sklearn = "*"
termcolor = "*"
texttable = "*"
threadpoolctl = "*"
urllib3 = "*"
wcwidth = "*"
zipp = "*"
Cycler = "*"
Flask = "*"
Jinja2 = "*"
MarkupSafe = "*"
Pillow = "*"
PyNaCl = "*"
PyYAML = "*"
SQLAlchemy = "*"
websocket_client = "*"
Werkzeug = "*"
gunicorn = "*"
gevent = "*"
passlib = "*"

[requires]
python_version = "3.7"
