<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardiovascular Disease Dashboard</title>
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"/>
  <link rel="stylesheet" href="style.css">
</head>
    <body>
      <div class="form">
        <form action="/" method="POST">
            Weight(lbs)
        <input type="text" name="weight"><br>
            Height(inches)
        <input type="text" name="height"><br>
        <button type="submit" value="submit">Calculate</button>
        </form>
        {%if bmi%}
        <p>Your BMI is {{bmi}}</p>
        {%endif%}
      </div>
  </body>
  </html>
