<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <title>Cardiovascular Disease Analysis</title>
   <link
   rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
   integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
   crossorigin="anonymous"
 />
 <link rel="stylesheet" href="../static/style.css">
</head>
<body class="bg-dark">
   <div class="wrapper">
    <div class="jumbotron text-center">
        <h1>#1 Killer in U.S.</h1>
    </div>
  </div>
<!-- Objective and Purpose -->
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-4">
            <h2>Cardiovascular Disease <br><small>Can it be prevented?</small></h2>
        </div>
        <div class="col-md-8">
            <p>
                Heart disease is the leading cause of death for both men and women, and people of most racial 
                and ethnic groups in the US. About 665,000 individuals die from heart disease each year in the 
                US - 1 in every 4 deaths. It is also the most preventable. Our group reviewed 70,000 points of patient data (age, weight, gender, smoking, activity level, cholesterol and glucose) and the prevalence 
                of cardiovascular disease. We analyzed which factors might contribute more heavily to 
                the disease and shed light on a condition that can be preventable by taking a proactive approach 
                to lifestyle choices.
            </p>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    
    
<!-- Charts Analysis -->
    <div class="row" id="blood-pressure-chart" >
      <div class="col-md-6" >
        <h2>Diastolic Blood Pressure</h2>
        <img src="../static/Diastolic_Blood_Pressure_Breakdown.png" class = "img-responsive" alt="Diastolic_Blood_Pressure_Breakdown"/>  
      </div>
      <div class="col-md-6">
        <h2>Systolic Blood Pressure</h2>
        <img src="../static/Systolic_Blood_Pressure_Breakdown.png" class = "img-responsive" alt="Systolic_Blood_Pressure_Breakdown" />
      </div>
    </div>

    <br>
    <br>

    <div class="row" id="blood-pressure-analysis">
      <div class="col-md-12">
        <div class="media">
          <div class="media-body">
           <p>When looking at the blood pressure records, 40K of the data points fall strictly into the normal range for AP high and AP Low (as defined dy the chart). 1/3 of that population had a cardio event(~14K). However, it's hard to reveal if blood pressure is a predictor based on that alone. When we look at data outside of normal ranges there is a high relationship between being outside of normal range and having a cardio event. It is inherently hard to bin into strict bounds because some people may have high upper but normal lower or vice versa. Therefore, We tested different bounds and observed consistent results, although we have a small population of people with low blood pressure.
           </p>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>

    <div class="row" id="blood-pressure-chart">
      <div class="col-md-6">
        <h2>Cholesterol Distribution</h2>
        <img src="../static/Cholesterol_Distribution.png" class = "img-responsive" alt="Cholesterol_Distribution" />  
      </div>
      <div class="col-md-6">
        <h2>BMI Breakdown</h2>
        <img src="../static/BMI_Breakdown.png" class = "img-responsive" alt="BMI_Breakdown" />
      </div>
    </div>

    <br>
    <br>

    <div class="row" id="blood-pressure-analysis">
      <div class="col-md-6">
        <div class="media">
          <div class="media-body">
           <p>Cholesterol 3 is a predictor, can be seen from box plot and data analysis. When we divided the data into people who had cardio and non cardio events and then further divide those samples into cholesterol levels we observed a higher percentage of cholesterol 2 & 3 in the cardio events.
           </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="media">
          <div class="media-body">
           <p>BMI When we binned the BMI data, we observed that most of the population in our data is overweight to obese BMI levels. Later in the data analysis we see that BMI can indeed be a leading indicator, however, given the population bias of the dataset we need to remember that this can be skewing our results.
           </p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="wrapper">
      <div class="jumbotron text-center">
          <h2>Find Out If You're At Risk</h2>
      </div>
    </div>
    <br>
    <br>
<!-- Charts-->

      <div>
        <form action="{{ url_for('calculate')}}" method="post">
          <label for="weight">Weight (lbs)</label>
          <input type="text" id="weight" name="weight">

          <label for="height">Height (inches)</label>
          <input type="text" id="height" name="height">
        
          <button type="submit" value="submit">Calculate</button>
        </form>
          {%if bmi%}
          <p>Your BMI is {{bmi}}</p>
          {%endif%}
      </div>
      <br>
      <br>
      <div>
        <form action="{{ url_for('machinelearning')}}" method="post">
          <label for="age">Age</label>
          <input type="text" id="age" name="age">
      
          <label for="gender">Gender</label>
          <select id="gender" name="gender">
            <option value=1>Male</option>
            <option value=2>Female</option>
          </select>

          <label for="bmi">BMI</label>
          <input type="text" id="bmi" name="bmi">

          <label for="ap_hi">Systolic BP</label>
          <input type="text" id="ap_hi" name="ap_hi">

          <label for="ap_lo">Diastolic BP</label>
          <input type="text" id="ap_lo" name="ap_lo">

          <label for="cholesterol">Cholesterol</label>
          <select id="chol" name="chol">
            <option value=1>Normal</option>
            <option value=2>Above Normal</option>
            <option value=3>Well Above Normal</option>
          </select>

          <label for="glucose">Glucose</label>
          <select id="gluc" name="gluc">
            <option value=1>Normal</option>
            <option value=2>Above Normal</option>
            <option value=3>Well Above Normal</option>
          </select>

          <input type="submit" value="Submit">
        </form>
        <br>
        {{answer}}
        {%if answer == 0 %}
        <p>You are potentially at risk</p>
        {%elif answer == 1 %}
        <p>You are not at risk</p>
        {%endif%}
      </div>
      <br>
      <br>
      <br>
      <br>
</div>
</body>
</html>