* {
  box-sizing: border-box;
  font-family: Lucida Console, Courier, monospace;
}

body {
  color: #f7f7f7;
  margin: 0;
  padding: 0;
}

h1 {
  color: black;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}

.form {
  color: antiquewhite;
  text-align: right;
  font-size: 45px;
  font-weight: bold;
}
